h1
  font-size: 14px;
  margin: 36px 0 27px;

.badges-wrapper
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .badges-item
    background-color: $secondary;
    color: #000;
    font-size: 16px;
    line-height: 20px;
    margin: 0 7px 8px;
    padding: 7px 14px ;
    border-radius: 9999px;
    .badge-cross
        padding-right: 6px;
        padding-left: 6px;
        padding-bottom: 1px;
        margin-left: 4px;
        cursor: pointer;
        font-size: 13px;
        vertical-align: text-bottom;
        border: solid 1px;
        border-radius: 100%;
