h1
  font-size: 14px;
  margin: 36px 0 27px;

.badges-wrapper
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .badges-item
    background-color: $primary;
    color: white;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    margin: 0 7px 8px;
    padding: 3px 6px 3px 17px;
    border-radius: 8px;
    &:hover
      background-color: #C481B6;

    .badge-cross
      padding-right: 4px
      padding-left: 4px
      margin-left: 4px;
      cursor: pointer;
      font-size: 13px;
      vertical-align: text-bottom;
