@import './export-update/styles'
#topics-wrapper
  .well
    > *
      margin 4px 0

  .btn.new
    width: 200px;
    margin-bottom: 10px;

  .export-update-wrapper
    float: right;
    .export-update
      margin-top: 0px
      .btn
        margin-right: 0;

  .export-resultados-wrapper
    float: right;
    margin-left: 8px;

  .busqueda-wrapper
    width: 100%

  button.buscar-tema
    cursor pointer
    color: white
    background-color: #337ab7
    width: 100%;

    &:hover,&:focus
      background-color: #286090

  button.sort.por-nombre
    font-weight: bold;
    padding-left: 4px
    padding-right: 4px
    line-height: 1em

  .row-filtros
    margin-top: 10px;
    .input-group
      margin: 0 auto;
      select
        display: block;

  #topic-list
    .placa
      color: black;
      border-radius: 4px;
      padding: 2px 5px;
      background-color: #d9d9d9;
      margin-right: 5px;
      &.idea
        background-color: #d9d9d9;
        font-size: 0.8em;
        margin-left: 10px;
        font-weight: 500;
      &.proyecto
        background-color: #ffac38;
        font-size: 0.8em;
        margin-left: 10px;
        font-weight: 500;
    .topic-status-data
      margin-top: 6px;
      font-size: 0.7em;
      span:first-child
        margin-left: 0;

    .topic-title
      margin-bottom: 0.6em;
      a
        padding: 0

    .topic-multi-tags
      margin-bottom: 10px
      .topic-tag
        font-size: 0.8em;
      .topic-tags
        font-size: 0.7em;
      .glyphicon
        font-size: 0.7em;
        margin-right: 5px;

    .topic-buttons
      .btn
        margin: 0 3px;
        &:first-child
          margin-left: 0
        &:last-child
          margin-right: 0
      .mas-acciones
        display: block;
        margin-top: 5px;
        width: 131px;
        font-size: 12px;

  .topics-pagination
    text-align: center
