.ext-topic-container.user-logged
  @media (max-width: 400px)
    margin-top: 140px
#topic-wrapper
  height inherit
  display flex
  footer
    display: block
/*@import './topic-article-proyecto/styles'*/
@import './topic-article-idea/styles'
@import '../jump-button/styles'
