.thumbs
  background-color:#ffffff
  font-family: 'AlfabetLight', sans-serif
  color: #696969
  position: relative
  overflow: hidden
  &.info-landing
    padding-bottom: 66px
    &::after
      content: ""
      position: absolute
      width: 100%
      left: 0
      bottom: 0
      box-shadow: 0 0 8px 1px #747474
  .row.cont
    //padding-top: 3rem;
  h2
    text-align: center
    font-size: 1.25rem
    font-weight: 500
    margin: 20px 0 0
    font-family: 'AlfabetLight', sans-serif
    color: $primary
    font-family: 'AlfabetBold', sans-serif
    a
      color: #3088bb
      &:hover
        color: #69b9e8
  
  p
    margin-bottom: 6%
    line-height: 1.5
    font-weight: 400
    padding: 0 33px
    font-size: 14px
    color: #464646
  .subtitulo
    margin: 10px auto 20px
    padding: 0 10%;
    text-align: center
    h2
      font-size: 1.6em
      text-transform: initial
      text-align: center
      color: #000
      font-weight: 700
      margin:30 0 0
      @media(max-width: 460px)
        max-width:390px
        font-size: 1.2em
      &.thumbs
        min-height:1em !important
    a
      color: #000
    h3
      font-size:1.2em
      font-weight: 300
      margin: 0 0 20px 0
      color: #000
      @media(max-width: 465px)
        font-size:1em

    .btn-container
      margin: 2em
    p
      font-size:1.2em
      font-weight: 300
      margin: 0 0 40px 0
      color: #fff
  .cont-boton-azul
    text-align: center
  .que-son
  .como-voto
  .donde-voto
  .que-propongo
  .como-sigo
    width: 100px
    height: 100px
    display: auto
    position: relative
    margin: 30px auto 0
    background-repeat: no-repeat
    background-position: center

  .que-son-cont
    margin-left: 3.62%
    b, strong
      font-family: 'AlfabetBold', sans-serif
  .que-propongo-cont
    a
      color: #1791be
      font-weight: 400
    a:hover
      color: rgb(140,30,129)
    b, strong
      font-family: 'AlfabetBold', sans-serif
  .donde-voto-cont
    margin-right: 3.62%
    a
      display: block
      color: #1791be
      font-weight: 400
    a:hover
      color: rgb(140,30,129)
    b, strong
      font-family: 'AlfabetBold', sans-serif
  .como-voto
    background-image: unquote("url('/ext/lib/site/thumbs-voto/voto6.svg')")
  .donde-voto
    background-image: unquote("url('/ext/lib/site/thumbs-voto/location3.svg')")

.violet-background
  width:100%
  height: 700px
  z-index:-100
  position:absolute
  background-color:$secondary-light

.boton-azul.boton-blanco
    align-items: center
    background-color: #fff
    color: #0099c3
    display: inline-block
    font-family: 'AlfabetLight', sans-serif
    font-weight: 500
    text-transform: none
    margin: 0px
    line-height: 1
    cursor: pointer
    font-size: 18px
    padding: 10px
    border: none
    box-shadow: none
    a:hover
      background-color: #fff

.boton-mandar-idea
  align-items: center
  background-color: #fff
  border-radius: 5px;
  box-shadow: 0 4px 4px 0 rgba(255, 255, 255, 0.25);
  color: #4b3c59
  display: inline-block
  font-family: 'AlfabetBold', sans-serif
  font-weight: 500
  text-transform: none
  margin: 0px
  line-height: 1
  cursor: pointer
  font-size: 20px
  padding: 18px 22px
  background: $secondary-light
  border: 2px solid #FFFFFF
  box-sizing: border-box
  border-radius: 5px
  color: #fff
  a:hover
    background-color: #fff

// .thumbs h2
//   min-height:2em !important

h2.donde-voto
  width:270px

.intro-ideas
  margin: 10px auto 20px
  padding: 0 10%;
  text-align: center
  h2
    font-family: 'AlfabetLight', sans-serif;    
    font-size: 30px;
    font-style: normal;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: center;
    