#content-all-progress
    margin-bottom: 10px
    // max-height: 266px
    box-shadow: 4px 4px 4px rgba(0,0,0,0.25)
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
.is-flex
    display: flex

.flex-col
    display: flex
    flex-direction: column
    width: 100%
.flex-row
    display: flex
    flex-direction: row
.contenedor-progress
    margin-bottom: 10px
    background: #F1F1F1
    padding: 20px
    // max-height: 268px
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
.contenedor-historial
    h4
        font-size: 1.2rem
        text-decoration: underline
        font-weight: 700
        color: #000000
        margin-bottom: 10px
    p
        font-size: 0.9rem
        white-space: pre-line
    // width: 800px
.responsive-tag-steps
    display: none
// .contenedor-votos{
//     justify-items: center
//     text-align: center
//     }
@media screen and (min-width: 774px)
    .contenedor-progress
        min-width: 800px !important
    .contenedor-votos
        padding: 0px 0px 0px 15px
        min-height: 160px
        width: 30%
        display -ms-flexbox
        display -webkit-flex
        display flex
        -webkit-flex-direction column
        -ms-flex-direction column
        flex-direction column
        justify-content center
        -webkit-flex-wrap wrap
        -ms-flex-wrap wrap
        flex-wrap wrap

        p
            margin-bottom: 20px
        // -webkit-justify-content center
        // -ms-flex-pack center
        // justify-content center
        // -webkit-align-content center
        // -ms-flex-line-pack center
        // align-content center
        // -webkit-align-items flex-start
        // -ms-flex-align start
        // align-items flex-start
        // .flex-item
        
        //     &:nth-child(1)
        //         -webkit-order 01
        //         -ms-flex-order 01
        //         order 0
        //         -webkit-flex 0 1 auto
        //         -ms-flex 0 1 auto
        //         flex 0 1 auto
        //         -webkit-align-self flex-start
        //         -ms-flex-item-align start
        //         align-self flex-start
        //         align-content: center
        //         p
                
        //             text-align: center !important
        //     &:nth-child(2)
        //         -webkit-order 1
        //         -ms-flex-order 1
        //         order 1
        //         -webkit-flex 10 1 auto
        //         -ms-flex 10 1 auto
        //         flex 10 1 auto
        //         -webkit-align-self auto
        //         -ms-flex-item-align auto
        //         align-self center
        //         justify-content: center
@media screen and (max-width: 724px)
    #content-all-progress
        // max-height: 716px
        justify-content: center
    // .contenedor-progress
        // max-height: 716px

    .contenedor-etapas
       flex-direction: column
       max-height: none

    .step-progressbar
       flex-direction: column
       justify-content: space-between
       align-items: flex-start !important
       margin: 0px !important
       margin-bottom: 0px !important
       width: 50px !important
    .bullet-div
        width: 20px !important;
        height: 50px
        p
            display: none
    .responsive-bullet-div
        display: flex
        flex-direction: row
    .responsive-tag-steps
        display: block
        display: flex
        flex-direction: column
        justify-content: flex-start
        margin-top 2px
    .step-text
        font-size: 19px !important
        line-height: normal !important
        margin-bottom: 28px !important
    .bullet-wrapper
        display flex
        flex-direction row
        align-items center
        position: relative
        &:nth-child(n
            & + 2)
                flex-grow 1
            & + 2)::after
                content ''
                position: absolute;
                z-index: 2;
                right: 0;
                top: 0;
                transform: rotate(90deg) translate(36px, -3px);
                padding-bottom: 0px
                margin 0px
                width 200%
                height 0.3rem
        &.active
            .bullet
                color white
                background-color #000000
                border-color #000000
            &:nth-child(n
                & + 2)
                    flex-grow 1
                & + 2)::after
                    content ''
                    position: absolute;
                    z-index: 2;
                    right: 0;
                    top: 0;
                    transform: rotate(90deg) translate(36px, -3px);
                    padding-bottom: 0px
                    margin 0px
                    width 200%
                    height 0.3rem
        &.inProgress
                .bullet
                    color white
                    background-color #a7a7a7
                    border-color #000000
                &:nth-child(n
                    & + 2)
                        flex-grow 1
                    & + 2)::after
                        content ''
                        width 100%
                        height 2px
                        position: absolute;
                        z-index: 2;
                        right: 0;
                        top: 0;
                        transform: rotate(90deg) translate(36px, -3px);
                        background-color #a7a7a7
    .contenedor-votos
        border-left: 0px !important
        margin: auto !important
        margin-top 10px !important
        border-top: 1px solid #000
        padding-top 5px
        text-align: center
        width: 100%
        font-family: 'AlfabetRegular', sans-serif
        font-weight: 400
        font-size: 20px
        line-height: 30px
        /* identical to box height, or 150% */
        padding opx !important
        text-align: center
        text-transform: uppercase

        color: #000000


.contenedor-etapas
    display flex
    align-items: none !important


.step-progressbar
    display: flex
    justify-content: space-between
    align-items: flex-end
    width: 300px
    margin: 0 auto
    margin-top: 10px;
    margin-bottom: 40px

.title-progress
    width: 100%
    background: $primary
    font-family: 'AlfabetRegular', sans-serif !important
    font-style: normal
    font-size: 1.2em;
    line-height: 30px
    // text-transform: uppercase
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #000
    padding: 10px

.subtitle-progress
    font-family: 'AlfabetLight'
    font-style: normal
    font-weight: 400
    font-size: 20px
    line-height: 30px
    text-transform: uppercase
    color: #000000

.contenedor-votos
    border-left: 1px solid #979797
    text-align: center !important

.numero-votos
    font-family: 'AlfabetBold'
    font-style: normal
    font-size: 50px
    line-height: 30px
    text-align: center
    text-transform: uppercase
    color: #C481B6

.step
    text-align: center


.step-text 
    font-family: 'AlfabetRegular'
    font-style: normal
    font-weight: 400
    font-size: 16px
    line-height: 19px
    margin-bottom: 10px
    color: #000


.bullets
    display flex
    justify-content space-between
    width 95%
    // margin 0 auto 1.6rem

.bullet-div
    width: 25%
    margin:  0px

.bullet-wrapper
    display flex
    flex-direction row
    align-items center
    &#preparacion, &#compra, &#ejecucion
        &::after
            content ''
            width 100%
            height 2px
            background-color #a7a7a7
    &#preparacion.active::after
        background-color #000000
    &#compra.active::after
        background-color #000000
    &#ejecucion.active::after
        background-color #000000
    .bullet
    &.active
        .bullet
            color white
            background-color #000000
            border-color #000000
        // estas son las lineas que unen los bullets
        &:nth-child(n
            & + 2)
                flex-grow 1
            & + 2)::after
                content ''
                width 100%
                height 2px
                background-color #000000
    &.inProgress
            .bullet
                color white
                background-color #a7a7a7
                border-color #000000
            &:nth-child(n
                & + 2)
                    flex-grow 1
                & + 2)::after
                    content ''
                    width 100%
                    height 2px
                    background-color #A7A7A7
    &.inFinalProgress
            .bullet
                color white
                background-color #a7a7a7
                border-color #000000
            &:nth-child(n
                & + 2)
                    flex-grow 1
                & + 2)::after
                    content ''
                    width 100%
                    height 2px
                    background-color #a7a7a7


.bullet-wrapper
  
    &:nth-child(n
        & + 2)
            flex-grow 1
        & + 2)::after
            content ''
            width 100%
            height 2px
            background-color #a7a7a7
#finalizado
    &.bullet-wrapper
        &:nth-child(n
            & + 2)
                flex-grow 1
            & + 2)::after
                content ''
                width 0%
                height 2px

.bullet
    display flex
    justify-content center
    align-items center
    width 24px
    height 24px
    flex-shrink 0
    margin 0.06rem
    padding 0.24rem
    background-clip content-box
    border 0.03rem solid
    border-color #a7a7a7
    font-size .009rem
    color #a6a6a6
    // background-color #d9d9d9
    border-radius 100%
    cursor arrow
    text-align center

#finalizado 
	&.active 
		&:nth-child(n 
			& + 2)::after 
				content ''
				width 0%
				height 0rem
				background-color #000