@import '../../../../lib/site/boot/boot'
@font-face
  font-family: Inter
  src: unquote("url('ext/lib/boot/Inter.ttf')")   
@font-face
  font-family: AlfabetLight
  src: unquote("url('ext/lib/boot/ALFABET-LIGHT.OTF')")  
@font-face
  font-family: AlfabetRegular
  src: unquote("url('ext/lib/boot/ALFABET-REGULAR.OTF')")
@font-face
  font-family: AlfabetBold
  src: unquote("url('ext/lib/boot/ALFABET-BOLD.OTF')")    

@import '../*/styles.styl'

#outer-layout
  margin-top: 80px
  @media screen and (max-width: 1079px)
    margin-top: 80px
