#signup-form
  max-width 640px
  width 90%
  .accepting
    text-align center
    a
      display block
    p
      font-size 15px
      margin 0
  .btn.btn-block
    background-color: $terciary
    color: #fff
    border-radius:999px
#signup-message
  max-width 500px

.ingresa-cuenta
  text-align: center;
  margin: 40px 0;
  a
   color: $terciary
